@model IEnumerable<WebApplication1.Models.Order>

@{
    ViewBag.Title = "MyList";
    Layout = "~/Views/Home/UserSession.cshtml";
}
@Styles.Render("~/Content/css/table.css")
    <div class="container body-content">
        <h2>Мой список</h2>
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
        <form asp-controller="Home" asp-action="AllOrders">
            <p>
                Title: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
        @section scripts
{
            <script type="text/javascript">

                $(function () {
                    $.ajaxSetup({ cache: false });
                    $(".compItem").click(function (e) {

                        e.preventDefault();
                        $.get(this.href, function (data) {
                            $('#dialogContent').html(data);
                            $('#modDialog').modal('show');
                        });
                    });
                })
            </script>
        }
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cause)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cause)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.description)
                    </td>

                    <td>
                        @Html.ActionLink("Выполнено", "Delete", new { id = item.Id }, new { @class = "compItem" })
                    </td>
                </tr>
            }

        </table>
    </div>